.container{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background-color: navy;
    justify-content: center;
}

.button{

}

.logo{
    background-image: url(../../imgs/logo1.jpg);
    width: 200px;
    height: 50px;
    background-size: 200px 50px;
}