.container{
    display: flex;
    height: 100vh;
    width: 300px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    position: relative;
}

.link{
    text-decoration: none;
    color: aliceblue;
}

.logo{
    background-image: url(../../imgs/logo1.jpg);
    width: 200px;
    height: 50px;
    background-size: 200px 50px;
    left:50px;
    top: 20px;
    position: absolute;
}

.navi{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    position: absolute;
}

.buttonnav{
    margin-top:20px;
    padding:20px 90px;
    cursor: pointer;
    background-color: inherit;
    color: aliceblue;
    font-size: 20px;
    border-radius: 360px;
    border: none;
    display: flex;
    justify-items: center;
    position: relative;
    text-decoration: none;
}

.buttonnav:hover{
    background-color: rgb(84, 84, 84);
}

.icons{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 13px;
}


.buttonsetting{
    margin-top:20px;
    padding:20px 90px;
    cursor: pointer;
    background-color: inherit;
    color: aliceblue;
    font-size: 20px;
    border-radius: 360px;
    display: flex;
    justify-items: center;
    position: relative;
    border: none;
}

.buttonsetting:hover{
    background-color: rgb(84, 84, 84);
    padding-right: 125px;
}

.open{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 13px;
    animation-name: rerotate;
    animation-duration: 1s;
}

.close{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 13px;
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate{
    0%{rotate:0deg}
    100%{rotate:360deg}
}

@keyframes rerotate{
    0%{rotate:360deg}
    100%{rotate:0deg}
}

.buttonlogoutopen{
    margin-top:20px;
    padding:20px 90px;
    cursor: pointer;
    background-color: inherit;
    color: aliceblue;
    font-size: 20px;
    border-radius: 360px;
    display: flex;
    justify-items: center;
    position: relative;
    animation-name: open;
    animation-duration: 0.5s;
    
}

@keyframes open{
    0%{transform: scaleY(0)  ;opacity: 0;}
    100%{transform: scaleY(-25px);opacity: 1;}
}


.buttonlogoutclose{
    margin-top:20px;
    padding:20px 90px;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    position: relative;
}

.buttonlogoutopen:hover{
    background-color: rgb(84, 84, 84);
    padding-right: 125px;
    
}

.endheader{
    position: absolute;
    bottom: 10px;left: 5px;
}

.profileava{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 18px;
    top: 12px;
    border-radius: 360px;
}